<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Academist</title>
	<base href="/">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/2.0.18/plyr.css" />
	<link rel="stylesheet" href="css/select.css" />
	<link rel="stylesheet" href="css/react-draft-wysiwyg.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="https://js.stripe.com/v3/"></script>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Tajawal');
		</style>
</head>
<body>
	<div id="app_home"></div>
	<script src="app/bundle.1defa7602c694adc79ef.js"></script>
</body>
</html>
