<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Academist</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/2.0.18/plyr.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="https://js.stripe.com/v3/"></script>

</head>
<body>
	<div id="app_home"></div>
	<script src="app/bundle.e204e88f9d943374beae.js"></script>
	
</body>
</html>
