<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Academist</title>
	<base href="/">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/2.0.18/plyr.css" />
	<link rel="stylesheet" href="css/select.css" />
	<link rel="stylesheet" href="css/react-draft-wysiwyg.css" />
	<link rel="stylesheet" href="css/toastr.min.css" />
	<link rel="stylesheet" href="css/tippy.css" />
	<link rel="stylesheet" href="css/date-picker.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="https://js.stripe.com/v3/"></script>
	<meta name="description" content="The Academist is an educational resource center providing information for international students looking to go abroad to further their studies."/>
<meta name="keywords" content="The Academist, Scholarships, Univeristy, Colleg, Nigeria, America, Canada, US Scholarships, Canadian Scholarships"/>

<meta name="og:title" content="The Academist"/>
<meta name="og:description" content="The Academist is an educational resource center providing information for international students looking to go abroad to further their studies."/>
<meta name="og:site_name" content="The Academist"/>
<meta name="og:type" content="article"/>
<meta property="og:image" content="https://theacademist.herokuapp.com/img/how-to-search.png">

<meta name="twitter:site" content="The Academist" />
<meta name="twitter:title" content="The Academist"/>
<meta name="twitter:description" content="The Academist is an educational resource center providing information for international students looking to go abroad to further their studies."/>
<meta name="twitter:creator" content="The Academist"/>
<meta name="twitter:card" content="photo" />
<meta name="twitter:url" content="https://theacademist.herokuapp.com"/>
<meta name="twitter:image" content=" https://theacademist.herokuapp.com/img/how-to-search.png">
<link rel='canonical' href="https://theacademist.herokuapp.com"/>

	<style>
		@import url('https://fonts.googleapis.com/css?family=Tajawal');
		</style>
</head>
<body>
	<div id="app_home"></div>
	<script src="app/bundle.1d6ed545d5694a3cc1eb.js"></script>
</body>
</html>
