<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Academist</title>
	<base href="/">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/2.0.18/plyr.css" />
	<link rel="stylesheet" href="css/select.css" />
	<link rel="stylesheet" href="css/react-draft-wysiwyg.css" />
	<link rel="stylesheet" href="css/toastr.min.css" />
	<link rel="stylesheet" href="css/tippy.css" />
	<link rel="stylesheet" href="css/date-picker.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="https://js.stripe.com/v3/"></script>
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="img/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="img/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="&nbsp;"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
<link href='https://www.theacademist.com' rel='canonical'>
<meta content='The Academist: Where Education Transcends Borders' property='og:title'>
<meta content='Website' property='og:type'>
<meta content='The Academist' property='og:site_name'>
<meta content='A reliable host where students are empowered with adequate information that helps shape their academic careers outstandingly.' property='og:description'>
<meta content='https://www.theacademist.com' property='og:url'>
<meta content='407409359279969' property='fb:app_id'>
<meta content='https://theacademist.herokuapp.com/img/how-to-search.png' property='og:image'>
<meta content='1200' property='og:image:width'>
<meta content='630' property='og:image:height'>
<meta content='en_US' property='og:locale'>
<meta content='summary_large_image' name='twitter:card'>
<meta content='@theacademist' name='twitter:site'>
<meta content='The Academist: Where Education Transcends Borders' name='twitter:title'>
<meta content='A reliable host where students are empowered with adequate information that helps shape their academic careers outstandingly.' name='twitter:description'>
<meta content='https://theacademist.herokuapp.com/img/how-to-search.png' name='twitter:image'>
<meta content='1200' name='twitter:image:width'>
<meta content='630' name='twitter:image:height'>

	<style>
		@import url('https://fonts.googleapis.com/css?family=Tajawal');
		</style>
</head>
<body>
	<div id="app_home"></div>
	<script src="app/bundle.js"></script>
</body>
</html>
